body{ 
    background: linear-gradient(to right, #e42e2e, #572809, #630a63, #c5ba59);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    }
    h1{
        background: linear-gradient(to right, #e42e2e, #572809, #630a63, #524b11);
       -webkit-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color: transparent;
     }
    .Top-Container{
        background: linear-gradient(to right, #f32071, #ff6b08, #cf23cf, #edd444); 
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
     .space{
      padding: 5px;
    }
    .empty{
      padding: 20px;
    }
    .image-container {
      display: flex;
      justify-content: center;
      flex-flow: wrap;
    }
    
    .image-container img {
      width: 230px;
      height: 230px;
      margin: 10px;
      transition: transform 0.3s ease-in-out;
    }
    
    .image-container img:hover {
      transform: scale(1.1);
    }

    .container{
    width:1100px;
    height:250px;
    margin-bottom:100px;
    margin-top: 30px;
    font-size: 19px;
    text-align: justify;
    border: 4px dotted black;
    font-style: italic;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 50px;
    font-family: "Rajdhani";
    color: white;
    align-self: center;
    }
    .cover_and_song{
     display: flex;
     flex-flow: wrap;
     width: 350px;
     background: #ffffff;
     border-radius: 20px;
     bottom: 20px;
    }
    .img img{
      width: 350px;
      height: 350px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    audio{
      width: 350px;
    }
    .Lyrics-Container{
       text-align: center;
       background: linear-gradient(#cc575f, #AE77C9, #D292D6, #F277A2, #D95096, #B5478C);
       font-weight: bold;
       display: flex;
       flex-direction: column; 
       align-items: center;
    }
    h3{
    text-align: center;
    color: #7F2A3C;
    font-size: 25px;
    }
    
    h4{ 
    color: #c11e38;
    font-family: "Lucida Handwriting", cursive;
    text-align: center;
    }
    
    p:hover{
    font-size:18px;
    font-family: "Rajdhani";
    color:white;
    }
    
    ::-webkit-scrollbar{
    width: 20px;
    }
    
    ::-webkit-scrollbar-track{
    background: linear-gradient(#cc575f, #AE77C9, #D292D6, #F277A2, #D95096, #B5478C);
    }
    
    ::-webkit-scrollbar-thumb{
    width: 20px;
    background-image: linear-gradient(to bottom, #DAB1F0, #BB377D);
    }
   .space2{
    padding: 5px;
   
  }
  .click{
   padding: 20px;
   margin: 25px ;
   display: flex;
   justify-content: center;
  }
  button{
   padding: 30px;
   font-weight: bold;
   font-size: 30px;
   border-radius: 40px;
   box-shadow: 0 50px 80px rgb(153, 0, 0);
   transition: transform 0.3s ease-in-out;
   
 }
 .click button:hover{
  background: linear-gradient(#cc575f, #AE77C9, #D292D6, #F277A2, #D95096, #B5478C);
  transform: scale(1.2);
}
 .Footer{
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
 }
 iframe{
  display: flex;
  align-self: center;
 }
